<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="title">
      <p>/ to-do.</p>
    </div>
    <div id="side-bar">
      <div id="inbox">
        <a href="#">Inbox</a>
      </div>
      <div id="today">
        <a href="#">Today</a>
      </div>
      <div id="this-week">
        <a href="#">This Week</a>
      </div>
      <h2>Projects</h2>
      <div id="project-container"></div>
      <div id="create-project-prompt"></div>
    </div>
    <div id="content-area">
      <div id="task-area"></div>
      <div id="new-task-prompt">
        <form action="" id="">
          <label for="task-input" required>Task Name</label>
          <input type="text" name="task_input" id="task-input" />
          <label for="due-date">Due Date</label>
          <input type="date" name="" id="due-date" />
          <input
            type="checkbox"
            id="high-priority"
            name="priority"
            value="high-priority"
          />
          <label for="high-priortiy">High Priority</label>
          <button id="add-task-button">Add Task</button>
        </form>
        <button id="new-task-button">+ New Task</button>
      </div>
    </div>
  </body>
</html>
