<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="title">
      <p>/ to-do.</p>
    </div>
    <div id="side-bar">
      <div id="inbox">
        <a href="#">Inbox</a>
      </div>
      <div id="today">
        <a href="#">Today</a>
      </div>
      <div id="this-week">
        <a href="#">This Week</a>
      </div>
      <h1>Projects</h1>
      <div id="project-container"></div>
      <div id="create-project-prompt"></div>
    </div>
    <div id="content-area">
      <div id="task-area"></div>
      <form action="" id="">
        <input type="text" name="" id="task-input" />
        <button id="add-task-button">Add Task</button>
      </form>
    </div>
  </body>
</html>
