:root {
  --border-radius: 6px;
  --thick-border: 4px solid black;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px 1fr;
}

#title {
  grid-area: 1 / 1 / 2 / 3;
  background-color: lightblue;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 1);
  z-index: 100;
}

#title > p {
  font-family: "Dela Gothic One", cursive;
  color: white;
  text-shadow: 2px 2px #464545;
  font-size: 4.5rem;
  vertical-align: top;
  padding-left: 2rem;
}

#side-bar {
  grid-area: 2 / 1 / 3 / 2;
  background-color: hsl(0, 79%, 72%);
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  -webkit-box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 1);
  box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 1);
}

#project-container {
  width: 100%;
}

.project-card {
  background-color: hsl(0, 79%, 85%);
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: var(--border-radius);
  border: var(--thick-border);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
}

.project-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.project-card > p {
  padding: 1rem;
}

.project-card:hover > .delete-project-button {
  display: inline-block;
}

.delete-project-button {
  cursor: pointer;
  display: none;
  background: none;
  border: none;
  border-radius: 0 2px 2px 0;
  padding-inline: 1rem;
  padding-left: 1.25rem;
}

.delete-project-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

#create-project-prompt {
  width: 100%;
}

#new-project-button {
  background: none;
  padding: 0.75rem;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: var(--thick-border);
}

#new-project-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  outline: none;
  border: var(--thick-border);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
}

#button-container {
  display: flex;
  gap: 0.5rem;
}

#add,
#cancel,
#add-task-button,
#cancel-button {
  cursor: pointer;
  padding: 0.5rem;
  flex: 1;
  border: none;
  border-radius: var(--border-radius);
  border: var(--thick-border);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
}

#add,
#add-task-button {
  background-color: #00ff1f;
}

#cancel,
#cancel-button {
  background-color: rgb(255, 58, 58);
}

#content-area {
  grid-area: 2 / 2 / 3 / 3;
  background-color: lightgreen;
}

#new-task-form {
  margin: 2rem;
}

#content-area {
  padding: 3rem;
}

.card {
  box-sizing: border-box;
  margin-block: 1rem;
  height: fit-content;
  width: 100%;
  border-radius: var(--border-radius);
  border: var(--thick-border);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(255, 255, 17);
  -webkit-box-shadow: 6px 6px 0px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 6px 0px 1px rgba(0, 0, 0, 1);
  box-shadow: 6px 6px 0px 1px rgba(0, 0, 0, 1);
}

.high-priority {
  border: 4px solid red;
}

#new-task-button {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: var(--border-radius);
  border: var(--thick-border);
  background: none;
}

#new-task-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card > p {
  margin: 2rem;
  box-sizing: border-box;
}

.delete-task {
  display: none;
  background: none;
  padding-inline: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 0 2px 2px 0;
}

.card:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.card:hover > .delete-task {
  display: inline-block;
}

.delete-task:hover {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

#task-input-form {
  border: var(--thick-border);
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
}

#task-inputs {
  flex: 4;
  gap: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

#task-inputs > div:first-child {
  flex: 4;
  min-width: 12rem;
}

#task-buttons {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}

#checkbox {
  display: flex;
  flex-direction: row;
}

#high-priority {
  box-shadow: none;
}
